body {
    background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/aNKqAFb/abstract-background-live-music-with-vintage-microphone-and-musicians-raw-video-record_4jga65m5x__F0000.png");
}

#add-singer {
    color: white;
}

h1 {
    font-family: Courier New, Courier, monospace;
}